* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.background-imagem {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#botao-secreto {
    position: absolute;
    bottom: 28%;
    right: 35%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 255, 0); /* invisível total */
    cursor: pointer;
    background-color: yellow;
}





