* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}
body{
    background-image: url(fase_1_3.png);
    height: 100vh;
    width: 100vh;
    background-repeat: no-repeat;
    display: flex;
    background-color: black;
}

.background-imagem {
    width: 100vh;
    height: 100vh;
    background-size: cover;
}

#botao-secreto{
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
}



