* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.background-imagem {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#botao-secreto {
    position: absolute;
    bottom: 40%;
    right: 10px;
    transform: translateX(-50%);
    width: 350px;
    height: 250px;
    background: rgba(255, 255, 255, 0); /* invisível total */
    cursor: pointer;
    background-color: aquamarine;
    
}

#botao-secreto2{
    position: absolute;
    bottom: 40%;
    right: 58%;
    transform: translateX(-50%);
    width: 350px;
    height: 250px;
    background: rgba(255, 255, 255, 0); /* invisível total */
    cursor: pointer;
     background-color: aqua;
}
  #tooltip{
   position: fixed;
    opacity: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 28px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    backdrop-filter: blur(3px);
    font-family: 'Witchwoode', serif;
    letter-spacing: 1px;
  }
 



