body{
    display: flex;
    align-self: flex-end;
    justify-self: end;
    background-color: black;
    height: 100vh;
    margin: 0;
}
#caixa{
    background-color: red;
    align-self: center;
    justify-self: end;
    padding: 150px;
    margin: 0;
}
a{
    background-color: yellow;
    align-self: center;
    justify-self: end;
    padding: 125px;
    padding-left: 135px;
}