* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-repeat: no-repeat;
}

.background-imagem {
    width: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-imagem {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#botao-secreto{
    background-image: url(fase_1_3.png);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
body{
    background-repeat: no-repeat;
    background-color: black;
}



